In [162]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [48]:
twitterdf = pd.concat(
    [
        pd.read_json("/Users/zoey/Downloads/corona-out-2", lines=True),
        pd.read_json("/Users/zoey/Downloads/corona-out-3", lines=True)
    ]
)

# Drop duplicates on user_id
twitterdf["user_id"] = twitterdf["user"].apply(lambda x: x["id"])
twitterdf.drop_duplicates(subset = ["user_id"], keep = "last", inplace = True)

# Reset indices
twitterdf.reset_index(inplace = True, drop = True)

In [3]:
twitterdf.head()

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms,display_text_range,extended_tweet,possibly_sensitive,extended_entities,withheld_in_countries,user_id
0,2020-04-12 18:27:25+00:00,1249403767180668930,1249403767180668928,RT @nuffsaidny: wishing death on people is wei...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,NaN,None,"{'id': 1242817830946508801, 'id_str': '1242817...",None,None,None,NaN,{'created_at': 'Sun Apr 12 16:48:01 +0000 2020...,1.249315e+18,1.249315e+18,{'created_at': 'Sun Apr 12 12:36:30 +0000 2020...,"{'url': 'https://t.co/FdZ3Hxzfwl', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,en,2020-04-12 18:27:25.552,NaN,NaN,NaN,NaN,NaN,1242817830946508801
1,2020-04-12 18:27:26+00:00,1249403770435493888,1249403770435493888,RT @biannagolodryga: This image.\nThis quote.\...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,NaN,NaN,NaN,None,"{'id': 4707764075, 'id_str': '4707764075', 'na...",None,None,None,NaN,{'created_at': 'Sun Apr 12 12:40:06 +0000 2020...,NaN,NaN,NaN,NaN,False,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,en,2020-04-12 18:27:26.328,NaN,NaN,NaN,NaN,NaN,4707764075
2,2020-04-12 18:27:26+00:00,1249403770360016896,1249403770360016896,SERÁ APENAS COINCIDÊNCIA?\n\nApós escudo do Re...,"<a href=""http://twitter.com/download/android"" ...",True,NaN,NaN,NaN,NaN,None,"{'id': 988174833849634816, 'id_str': '98817483...",None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",False,False,low,pt,2020-04-12 18:27:26.310,"[0, 140]",{'full_text': 'SERÁ APENAS COINCIDÊNCIA? Após...,0.0,NaN,NaN,988174833849634816
3,2020-04-12 18:27:26+00:00,1249403770833981440,1249403770833981440,RT @biannagolodryga: This image.\nThis quote.\...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,None,"{'id': 270088915, 'id_str': '270088915', 'name...",None,None,None,NaN,{'created_at': 'Sun Apr 12 12:40:06 +0000 2020...,NaN,NaN,NaN,NaN,False,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,en,2020-04-12 18:27:26.423,NaN,NaN,NaN,NaN,NaN,270088915
4,2020-04-12 18:27:26+00:00,1249403771077005315,1249403771077005312,RT @SarkariHelpline: भाजपा नेता तज़िंदर बग्गा ...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,None,"{'id': 2515708525, 'id_str': '2515708525', 'na...",None,None,None,NaN,{'created_at': 'Sun Apr 12 15:08:27 +0000 2020...,NaN,NaN,NaN,NaN,False,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,hi,2020-04-12 18:27:26.481,NaN,NaN,NaN,NaN,NaN,2515708525

In [27]:
twitterdf['user'][1]

dict

In [39]:
usersdf.isna().sum()

id                                        0
id_str                                    0
name                                      0
screen_name                               0
location                              34572
url                                   74341
description                           18796
translator_type                           0
protected                                 0
verified                                  0
followers_count                           0
friends_count                             0
listed_count                              0
favourites_count                          0
statuses_count                            0
created_at                                0
utc_offset                            95654
time_zone                             95654
geo_enabled                               0
lang                                  95654
contributors_enabled                      0
is_translator                             0
profile_background_color                  0
profile_background_image_url              0
profile_background_image_url_https        0
profile_background_tile                   0
profile_link_color                        0
profile_sidebar_border_color              0
profile_sidebar_fill_color                0
profile_text_color                        0
profile_use_background_image              0
profile_image_url                         0
profile_image_url_https                   0
profile_banner_url                    22769
default_profile                           0
default_profile_image                     0
following                             95654
follow_request_sent                   95654
notifications                         95654
dtype: int64

In [76]:
usersdf.fillna(value = None, inplace = True)

ValueError: Must specify a fill 'value' or 'method'.

'user_id, name, screen_name, url, location, followers_count, friends_count, listed_count, favourites_count, statuses_count, created_at, description, language, verified, profile_image_url, profile_background_image_url, default_profile, default_profile_image'

In [244]:
import psycopg2
from psycopg2 import extensions
from configparser import ConfigParser

import os
print(os.getcwd())

config = ConfigParser()
config.read('../../config.ini')

conn = psycopg2.connect(
    **dict(config.items('postgres'))
)

cur = conn.cursor()

/Users/zoey/694Team14Dbms2023/notebooks/vg422

In [235]:
table1Columns = [
    'user_id',
    'name',
    'screen_name',
    'url',
    'location',
    'followers_count',
    'friends_count',
    'listed_count',
    'favourites_count',
    'statuses_count',
    'created_at',
    'description',
    'language',
    'verified',
    'profile_image_url',
    'profile_background_image_url',
    'default_profile',
    'default_profile_image'
]

table1Columns = ', '.join(table1Columns)
table1Columns

# [val for val in usersdf.iloc[1,1:].values.tolist() if val != None
table1 = usersdf[[
    'id_str',
    'name',
    'screen_name',
    'url',
    'location',
    'followers_count',
    'friends_count',
    'listed_count',
    'favourites_count',
    'statuses_count',
    'created_at',
    'description',
    'lang',
    'verified',
    'profile_image_url_https',
    'profile_background_image_url_https',
    'default_profile',
    'default_profile_image',
]]

table1Values = str(table1.iloc[1,:].values.tolist()).strip('][').replace("None", "NULL")

cur.execute(
    f"""
        INSERT INTO user_profile ({table1Columns})
        VALUES ({table1Values})
    """
)

conn.commit()
conn.close()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [177]:


# check if any cell in the DataFrame contains the phrase
is_present = table1.dropna().applymap(lambda x: 'Official page of the constantly evolving sound' in x).any().any()

In [178]:
table1Values = str(table1.iloc[1,:].values.tolist()).strip('][')
f""" INSERT INTO user_profile ({table1Columns}) VALUES ({table1Values})"""

" INSERT INTO user_profile (user_id, name, screen_name, url, location, followers_count, friends_count, listed_count, favourites_count, statuses_count, created_at, description, language, verified, profile_image_url, profile_background_image_url, default_profile, default_profile_image) VALUES ('4707764075', 'UpsidedownTurtle 🧢', 'Adakisn', None, None, 76, 82, 1, 6041, 7471, 'Mon Jan 04 19:43:48 +0000 2016', None, None, False, 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png', '', True, False)"

In [245]:
cur.execute(
    """
    CREATE TABLE user_profile 
    (
        user_id TEXT PRIMARY KEY, 
        name TEXT, 
        screen_name VARCHAR(15), 
        url TEXT NULL , 
        location TEXT NULL, 
        followers_count INTEGER NULL,
        friends_count INTEGER, 
        listed_count INTEGER, 
        favourites_count INTEGER, 
        statuses_count INTEGER, 
        created_at VARCHAR(30), 
        description TEXT, 
        language CHAR(4), 
        verified BOOLEAN, 
        profile_image_url TEXT,
        profile_background_image_url TEXT NULL,
        default_profile BOOLEAN NULL,
        default_profile_image BOOLEAN NULL
    )
    """
)



for col in table1.select_dtypes(exclude=['int', 'int64', 'bool']).columns.tolist():
    table1[col] = table1[col].apply(lambda x: x.encode('ascii', 'ignore').decode('utf-8') if bool(x) else x)
    table1[col] = table1[col].apply(lambda x: extensions.adapt(x).getquoted().decode('utf-8'))
    table1[col] = table1[col].apply(lambda x: x.replace("'","").replace("%","%%") if bool(x) else x)

a = table1.values.tolist()
for _value in a:
    _row = str(
        _value
    ).strip(
        ']['
    ).replace(
        "None", 
        "NULL"
    )
        
    cur.execute(
        f"""
            INSERT INTO 
                user_profile ({table1Columns})
            VALUES 
                ({_row})
        """
    )

/var/folders/w3/d1c_m0dx0mv20q7033lt172h0000gn/T/ipykernel_9298/3676419988.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table1[col] = table1[col].apply(lambda x: x.encode('ascii', 'ignore').decode('utf-8') if bool(x) else x)
/var/folders/w3/d1c_m0dx0mv20q7033lt172h0000gn/T/ipykernel_9298/3676419988.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table1[col] = table1[col].apply(lambda x: extensions.adapt(x).getquoted().decode('utf-8'))
/var/folders/w3/d1c_m0dx0mv20q7033lt172h0000gn/T/ipykernel_9298/3676419988.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table1[col] = table1[col].apply(lambda x: x.replace("'","").replace("%","%%") if bool(x) else x)

In [246]:
conn.commit()
conn.close()

In [243]:
print(table1Columns)
print('\n')
print(_value)

user_id, name, screen_name, url, location, followers_count, friends_count, listed_count, favourites_count, statuses_count, created_at, description, language, verified, profile_image_url, profile_background_image_url, default_profile, default_profile_image


["'''1242817830946508801'''", "'''juwelz v'''", "'''juwelz_v'''", "'''https://linktr.ee/juwelzv'''", "'''Lower East Side, Manhattan'''", 43, 118, 0, 722, 906, "'''Wed Mar 25 14:17:28 +0000 2020'''", "'''Event Lyfe LLC .. Brand Ambassador: #visionarysociety Music Manager: @ssizzzlee & @tmoneybeatsbang Production #BringNyCultureBack  !!'''", "'NULL'", False, "'https://pbs.twimg.com/profile_images/1246253579805089797/Ks1MrEDW_normal.jpg'", "''", True, False]

In [187]:
f"""
            INSERT INTO 
                user_profile ({table1Columns})
            VALUES 
                ({_row})
        """

'\n            INSERT INTO \n                user_profile (user_id, name, screen_name, url, location, followers_count, friends_count, listed_count, favourites_count, statuses_count, created_at, description, language, verified, profile_image_url, profile_background_image_url, default_profile, default_profile_image)\n            VALUES \n                (\'144080082\', \'Badman Rooks\', \'badmanrooks\', \'http://smarturl.it/basskiller\', \'Just follow the music...\', 914, 942, 7, 5616, 28662, \'Sat May 15 07:07:55 +0000 2010\', "Official page of the constantly evolving sound deity. From the chessboard to the skies, I\'m the one you seek. bookbadmanrooks@gmail.com", NULL, False, \'https://pbs.twimg.com/profile_images/1051620253011202048/25l7kzzn_normal.jpg\', \'https://abs.twimg.com/images/themes/theme9/bg.gif\', False, False)\n        '

In [141]:
table1.iloc[1,:].values.tolist()

['4707764075',
 'UpsidedownTurtle 🧢',
 'Adakisn',
 None,
 None,
 76,
 82,
 1,
 6041,
 7471,
 'Mon Jan 04 19:43:48 +0000 2016',
 None,
 None,
 False,
 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png',
 '',
 True,
 False]

In [49]:
twitterdf.isna().sum()

created_at                       0
id                               0
id_str                           0
text                             0
source                           0
truncated                        0
in_reply_to_status_id        82974
in_reply_to_status_id_str    82974
in_reply_to_user_id          81910
in_reply_to_user_id_str      81910
in_reply_to_screen_name      81910
user                             0
geo                          95573
coordinates                  95573
place                        94220
contributors                 95654
retweeted_status             38106
quoted_status_id             80179
quoted_status_id_str         80179
quoted_status                80199
quoted_status_permalink      80199
is_quote_status                  0
quote_count                      0
reply_count                      0
retweet_count                    0
favorite_count                   0
entities                         0
favorited                        0
retweeted                        0
filter_level                     0
lang                             0
timestamp_ms                     0
display_text_range           79267
extended_tweet               80791
possibly_sensitive           73052
extended_entities            88589
withheld_in_countries        95580
user_id                          0
dtype: int64

In [92]:
reply_columns=['reply_tweet_id','tweet_id']
quoted_tweet_columns=['quoted_tweet_id','tweet_id']
retweets_columns=['retweet_id','tweet_id']
tweets_columns=['tweet_id','original_tweet_flag','retweet_flag','quoted_tweet_flag','reply_tweet_flag']

reply_columns=', '.join(reply_columns)
quoted_tweet_columns=', '.join(quoted_tweet_columns)
retweets_columns=', '.join(retweets_columns)
tweets_columns=', '.join(tweets_columns)

In [173]:
twitterdf['retweet_flag'] = np.where(
    twitterdf['retweeted_status'].isna(), 
    0, 
    1
)

twitterdf['quoted_tweet_flag'] = np.where(
    twitterdf['quoted_status_id_str'].isna(), 
    0, 
    1
)

twitterdf['reply_tweet_flag'] = np.where(
    twitterdf['in_reply_to_user_id_str'].isna(), 
    0, 
    1
)

twitterdf['original_tweet_flag'] = np.where(
    (twitterdf['retweet_flag'] == 0) & 
    (twitterdf['quoted_tweet_flag'] == 0) & 
    (twitterdf['reply_tweet_flag'] == 0),
    1,
    0
)

In [171]:
twitterdf[twitterdf.quoted_tweet_flag == 1][twitterdf.retweet_flag == 1]

/var/folders/w3/d1c_m0dx0mv20q7033lt172h0000gn/T/ipykernel_9298/3318458244.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  twitterdf[twitterdf.quoted_tweet_flag == 1][twitterdf.retweet_flag == 1]

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms,display_text_range,extended_tweet,possibly_sensitive,extended_entities,withheld_in_countries,user_id,retweet_id,tweet_id,retweet_flag,quoted_tweet_flag,reply_tweet_flag
0,2020-04-12 18:27:25+00:00,1249403767180668930,1249403767180668928,RT @nuffsaidny: wishing death on people is wei...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,NaN,None,"{'id': 1242817830946508801, 'id_str': '1242817...",None,None,None,NaN,{'created_at': 'Sun Apr 12 16:48:01 +0000 2020...,1.249315e+18,1.249315e+18,{'created_at': 'Sun Apr 12 12:36:30 +0000 2020...,"{'url': 'https://t.co/FdZ3Hxzfwl', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,en,2020-04-12 18:27:25.552,NaN,NaN,NaN,NaN,NaN,1242817830946508801,1249378751349231616,0,1,1,0
10,2020-04-12 18:27:27+00:00,1249403773522337792,1249403773522337792,RT @RC_Shukl: मरकज़ियों के गुनाह की सज़ा दिल्ल...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,None,"{'id': 1211987252735139840, 'id_str': '1211987...",None,None,None,NaN,{'created_at': 'Sun Apr 12 07:18:02 +0000 2020...,1.249232e+18,1.249232e+18,{'created_at': 'Sun Apr 12 07:06:00 +0000 2020...,"{'url': 'https://t.co/gH0rcZbkLn', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,hi,2020-04-12 18:27:27.064,NaN,NaN,NaN,NaN,NaN,1211987252735139840,1249235310338355201,0,1,1,0
27,2020-04-12 18:27:28+00:00,1249403779440463872,1249403779440463872,RT @berlianidris: Ini sungguh menyakitkan. Kam...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,None,"{'id': 4496597054, 'id_str': '4496597054', 'na...",None,None,None,NaN,{'created_at': 'Sun Apr 12 00:55:46 +0000 2020...,1.248943e+18,1.248943e+18,{'created_at': 'Sat Apr 11 11:56:40 +0000 2020...,"{'url': 'https://t.co/LvtePyAEXe', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,in,2020-04-12 18:27:28.475,NaN,NaN,NaN,NaN,NaN,4496597054,1249139112524873728,0,1,1,0
40,2020-04-12 18:27:29+00:00,1249403783932772358,1249403783932772352,"RT @MuloiwaThendo: Corona or no Corona, I'm co...","<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,NaN,NaN,NaN,None,"{'id': 896356371175755776, 'id_str': '89635637...",None,None,None,NaN,{'created_at': 'Sun Apr 12 09:49:51 +0000 2020...,1.248622e+18,1.248622e+18,{'created_at': 'Fri Apr 10 14:40:38 +0000 2020...,"{'url': 'https://t.co/Yiv5rLDbtj', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",False,False,low,en,2020-04-12 18:27:29.546,NaN,NaN,0.0,NaN,NaN,896356371175755776,1249273515288793088,0,1,1,0
47,2020-04-12 18:27:30+00:00,1249403785849561091,1249403785849561088,RT @Andersblues: Bengan röstade väl Sd så ... ...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,NaN,NaN,NaN,None,"{'id': 827595079, 'id_str': '827595079', 'name...",None,None,None,NaN,{'created_at': 'Sun Apr 12 18:26:52 +0000 2020...,1.249275e+18,1.249275e+18,{'created_at': 'Sun Apr 12 09:53:50 +0000 2020...,"{'url': 'https://t.co/46EFb6Dapq', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",False,False,low,sv,2020-04-12 18:27:30.003,NaN,NaN,0.0,NaN,NaN,827595079,1249403630198939650,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95593,2020-04-25 14:48:33+00:00,1254059731410456577,1254059731410456576,RT @maryqueeen__: L’illustration parfaite de l...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,NaN,None,"{'id': 3351278920, 'id_str': '3351278920', 'na...",None,None,None,NaN,{'created_at': 'Sat Apr 25 14:30:01 +0000 2020...,1.253010e+18,1.253010e+18,{'created_at': 'Wed Apr 22 17:16:24 +0000 2020...,"{'url': 'https://t.co/HzKBj2nsVz', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,fr,2020-04-25 14:48:33.928,NaN,NaN,NaN,NaN,NaN,3351278920,1254055065557643265,0,1,1,0
95613,2020-04-25 14:48:35+00:00,1254059736070160384,1254059736070160384,RT @Dandhy_Laksono: Jokowi minta ventilator da...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,None,"{'id': 2570171154, 'id_str': '2570171154', 'na...",None,None,None,NaN,{'created_at': 'Sat Apr 25 02:11:32 +0000 2020...,1.253096e+18,1.253096e+18,{'created_at': 'Wed Apr 22 23:00:48 +0000 2020...,"{'url': 'https://t.co/ZX36loGq8D', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,in,2020-04-25 14:48:35.039,NaN,NaN,NaN,NaN,NaN,2570171154,1253869221429174272,0,1,1,0
95624,2020-04-25 14:48:36+00:00,1254059741166387200,1254059741166387200,RT @drhaluksavas: 🔴Sevgili arkadaşlar aşağıdak...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,NaN,None,"{'id': 2564111673, 'id_str': '2564111673', 'na...",None,None,None,NaN,{'created_at': 'Sat Apr 25 07:22:51 +0000 2020...,1.253560e+18,1.253560e+18,{'created_at': 'Fri Apr 24 05:44:10 +0000 2020...,"{'url': 'https://t.co/BI61eWKdvY', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,tr,2020-04-25 14:48:36.254,NaN,NaN,NaN,NaN,NaN,2564111673,1253947566221393921,0,1,1,0
95625,2020-04-25 14:48:36+00:00,1254059741359169536,1254059741359169536,RT @him_khanna08: यह वह समय है जब parents वित्...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,None,"{'id': 3040382926, 'id_str': '3040382926', 'na...",None,None,None,NaN,{'created_at': 'Sat Apr 25 06:33:38 +0000 2020...,1.253926e+18,1.253926e+18,{'created_at': 'Sat Apr 25 05:58:41 +0000 2020...,"{'url': 'https://t.co/w6yUWgPRNu', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,hi,2020-04-25 14:48:36.300,NaN,NaN,NaN,NaN,NaN,3040382926,1253935180793835523,0,1,1,0
95636,2020-04-25 14:48:37+00:00,1254059746086334465,1254059746086334464,RT @Isac367: Quando eu ligo a televisão e fic...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,None,"{'id': 1191037496299343872, 'id_str': '1191037...",None,None,None,NaN,{'created_at': 'Thu Apr 23 19:58:13 +0000 2020...,1.250837e+18,1.250837e+18,{'created_at': 'Thu Apr 16 17:23:50 +0000 2020...,"{'url': 'https://t.co/HmGEpU9VOX', 'expanded':...",True,0,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,low,pt,2020-04-25 14:48:37.427,NaN,NaN,NaN,NaN,NaN,1191037496299343872,1253412885444743177,0,1,1,0

In [161]:
retweetdf = twitterdf[
    twitterdf.retweeted_status.notna()
]

retweetdf['tweet_id'] = retweetdf['retweeted_status'].apply(
    lambda x: x["id_str"]
)

retweetdf[[['id_str','tweet_id']]

/var/folders/w3/d1c_m0dx0mv20q7033lt172h0000gn/T/ipykernel_9298/3753857190.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retweetdf['tweet_id'] = retweetdf['retweeted_status'].apply(

                    id_str             tweet_id
0      1249403767180668928  1249378751349231616
1      1249403770435493888  1249316363681910784
3      1249403770833981440  1249316363681910784
4      1249403771077005312  1249353696447574016
6      1249403771676815360  1248907321947783170
...                    ...                  ...
95648  1254059751207395328  1253923193733156864
95650  1254059751949942784  1254059703287648257
95651  1254059752134455296  1254038163179180033
95652  1254059751945596928  1253989350976753664
95653  1254059752201519104  1253966779900137472

[57548 rows x 2 columns]

In [94]:
table2Columns=twitterdf.loc[
    twitterdf.in_reply_to_status_id_str.notna(),
    ['in_reply_to_status_id_str','id_str']
]

quoted_tweetsdf=twitterdf.loc[
    twitterdf.quoted_status_id_str.notna(),
    ['quoted_status_id_str','id_str']
]


# tweetsdf=twitterdf.loc[
#     twitterdf.quoted_status_id_str.notna(),
#     ['id_str','quoted_status_id_str']
# ]
tweets_columns=['tweet_id','original_tweet_flag','retweet_flag','quoted_tweet_flag','reply_tweet_flag']

In [96]:
reply_val = str(replydf.iloc[0,:].values.tolist()).strip('][')
quoted_tweets_val = str(quoted_tweetsdf.iloc[0,:].values.tolist()).strip('][')

'1.249403767180669e+18, 1.2493154547971686e+18'

In [122]:
f"""
        INSERT INTO user_profile ({retweets_columns})
        VALUES ({retweets_val})
    """

'\n        INSERT INTO user_profile (retweet_id, tweet_id)\n        VALUES (0        1249378751349231616\n1        1249316363681910784\n2                        NaN\n3        1249316363681910784\n4        1249353696447574016\n                ...         \n95649                    NaN\n95650    1254059703287648257\n95651    1254038163179180033\n95652    1253989350976753664\n95653    1253966779900137472\nName: retweet_id, Length: 95654, dtype: object, 0        1249403767180668928\n1        1249403770435493888\n2        1249403770360016896\n3        1249403770833981440\n4        1249403771077005312\n                ...         \n95649    1254059751379361792\n95650    1254059751949942784\n95651    1254059752134455296\n95652    1254059751945596928\n95653    1254059752201519104\nName: id_str, Length: 95654, dtype: int64)\n    '